h1 {
    font-size: x-large;
    color: green;
    background-color: bisque;
}


.player_name > input {
    border: none;
    background: transparent;
}


.player_color_picker {
    height: 1.5em;
    width: 1.5em;
    overflow: hidden;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    position: relative;
}

.player_color_picker > input {
    position: absolute;
    height: 4em;
    width: 4em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border: none;
    margin: 0;
    padding: 0;
}

@media (orientation: landscape) {
    .player_section {
        transform: rotate(90deg);
    }
}