* {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.wrapper {
    margin-top: 5px;
}

.game_board {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.row {
    display: flex;
}

.mid_row {
    border-top: 0.85rem solid black;
    border-bottom: 0.85rem solid black;
}

.cell {
    min-width: 1rem;
    padding: min(5vw);
    
}

.mid_cell {
    border-left: 0.85rem solid black;
    border-right: 0.85rem solid black;
}

@media (prefers-color-scheme: dark) {
    .mid_cell_dark {
        border-left: 0.85rem solid silver;
        border-right: 0.85rem solid silver;
    }
    .mid_row_dark {
        border-top: 0.85rem solid silver;
        border-bottom: 0.85rem solid silver;
    }
}

.player_section {
    display: grid;
    grid-auto-flow: column;
}

.player_name > input {
    border: none;
    background: transparent;
}

.player_color_picker {
    height: 1.5em;
    width: 1.5em;
    overflow: hidden;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    position: relative;
}

.player_color_picker > input {
    position: absolute;
    height: 4em;
    width: 4em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border: none;
    margin: 0;
    padding: 0;
}